* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  padding: 0 10px 0 10px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 480px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
  height: auto;
  gap: 25px;
}
@media screen and (max-width: 480px) {
  nav ul {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 10px 0 10px;
}
nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3598DE;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
  color: #fff;
  background-color: #3598DE;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

img {
  display: flex;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.Accueil {
  background: linear-gradient(rgba(180, 174, 174, 0.4), rgba(63, 62, 62, 0.5)), url(../img/poke_accueil.jpg);
  height: 90vh;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}

.contenant {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 8%;
  color: #fff;
  justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .contenant {
    margin-left: 5%;
    gap: 15px;
  }
}

.titre {
  width: auto;
  height: auto;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.3s ease;
}
.titre p {
  font-size: 4.5em;
  font-weight: 600;
}
.titre:hover {
  animation: borderAnimation 2s infinite;
}
@keyframes borderAnimation {
  0%, 100% {
    box-shadow: 0 0 0 2px transparent;
  }
  50% {
    box-shadow: 0 0 0 2px #e74c3c;
  }
}

.description p {
  width: 900px;
  font-size: 1.5rem;
}

@media screen and (max-width: 1010px) {
  .description p {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .titre p {
    font-size: 3rem;
  }
  .description p {
    font-size: 1.2rem;
  }
}
.btn_contenant {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}
@media screen and (max-width: 480px) {
  .btn_contenant {
    flex-direction: row;
  }
}
.btn_contenant button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 25px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 6px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.btn_contenant button:hover {
  background-color: #fff;
  color: #3598DE;
  border: 6px solid #3598DE;
  cursor: pointer;
}

.titre2 {
  margin: 50px;
}
@media screen and (max-width: 495px) {
  .titre2 {
    margin: 20px;
  }
}
.titre2 p {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3598DE;
  margin-bottom: 20px;
}
@media screen and (max-width: 495px) {
  .titre2 p {
    font-size: 2rem;
  }
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.input input {
  width: 300px;
  height: 50px;
  border: 2px solid #3598DE;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #3598DE;
}
@media screen and (max-width: 495px) {
  .input input {
    width: 200px;
    height: 40px;
    font-size: 1rem;
    padding: 0 5px 0 5px;
  }
}
.input i {
  color: #3598DE;
  font-size: 1.5rem;
}
@media screen and (max-width: 495px) {
  .input i {
    font-size: 1rem;
  }
}

.produits_contenant {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  justify-items: center;
  align-items: center;
}

.produits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}
@media screen and (max-width: 800px) {
  .produits {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 560px) {
  .produits {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 460px) {
  .produits {
    grid-template-columns: repeat(1, 1fr);
  }
}
.produits .un_produit {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  transition: transform 1s ease;
}
.produits .un_produit button {
  margin: 10px 0 10px 0;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
  border: 2px solid #3598DE;
  border-radius: 5px;
}
.produits .un_produit button:hover {
  background-color: #3598DE;
  color: #fff;
  cursor: pointer;
}
.produits .un_produit:nth-child(2n) {
  box-shadow: rgba(41, 41, 245, 0.2) 0px 7px 29px 0px;
}
.produits .un_produit:nth-child(2n+1) {
  box-shadow: rgba(227, 234, 34, 0.2) 0px 7px 29px 0px;
}

.scale {
  transform: scale(2);
}

.pop_up {
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
}
.pop_up .pop_up_centrer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 2px solid #3598DE;
}
@media screen and (max-width: 800px) {
  .pop_up .pop_up_centrer {
    width: 80%;
    height: auto;
  }
}
.pop_up .pop_up_centrer .pop_up_infos {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .pop_up .pop_up_centrer .pop_up_infos {
    flex-direction: column;
  }
}
.pop_up .pop_up_centrer .pop_up_infos .pokemon {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #3598DE;
}
@media screen and (max-width: 800px) {
  .pop_up .pop_up_centrer .pop_up_infos .pokemon {
    border-right: none;
    border-bottom: 2px solid #3598DE;
    width: 100%;
  }
}
.pop_up .pop_up_centrer .pop_up_infos .img_pop_up {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.pop_up .pop_up_centrer .pop_up_infos h2 {
  font-size: 2.5rem;
}
.pop_up .pop_up_centrer .pop_up_infos .infos {
  margin: 10px 0 0px 20px;
  color: #3598DE;
  font-size: 1.2rem;
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .pop_up .pop_up_centrer .pop_up_infos .infos {
    margin: 20px 0 20px 0;
    width: 100%;
  }
}
.pop_up .pop_up_centrer .btns {
  width: 100%;
  height: 20%;
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .pop_up .pop_up_centrer .btns {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 20px 0;
  }
}
.pop_up .pop_up_centrer .btns button {
  width: auto;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #3598DE;
  color: #3598DE;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  padding: 0 10px 0 10px;
}
.pop_up .pop_up_centrer .btns button:hover {
  background-color: #3598DE;
  color: #fff;
  cursor: pointer;
}

.panier_texte {
  display: flex;
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid #3598DE;
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
}
.panier_texte p {
  font-size: 3rem;
  font-weight: 600;
  color: #3598DE;
  margin-bottom: 20px;
}

.panier {
  background-color: rgba(53, 152, 222, 0.2);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.panier .mes_produits {
  width: 50%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px 5px 10% 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .panier .mes_produits {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 560px) {
  .panier .mes_produits {
    grid-template-columns: repeat(1, 1fr);
  }
}
.panier .mes_produits .un_produitAuPanier {
  border-radius: 12%;
  background-color: rgba(228, 208, 55, 0.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.panier .mes_produits .un_produitAuPanier .supprimer {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: #de3535;
}
.panier .payer {
  width: auto;
  height: auto;
  margin: 20px 0 20px 0;
  background-color: #3598DE;
  border-style: none;
  font-size: 2em;
  font-weight: 600;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  color: #fff;
}

.total {
  margin: 20px 0 20px 0;
  color: #3598DE;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #3598DE;
  padding: 10px 25px 10px 25px;
}

.rotation {
  animation: rotate 0.5s;
}

.fond_flou {
  position: fixed;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
.fond_flou .modal_infos {
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
